.css_arquivo_excel_label, .css_arquivo_excel_label span{ }
.css_arquivo_excel_label span  span{line-height:1.5;}
.css_arquivo_excel_line, .css_arquivo_excel_line >span{ }
.css_arquivo_excel_line span  span{line-height:1.5;}
.css_arquivo_excel_obj, .css_arquivo_excel_obj span{ }
.css_arquivo_excel_obj span  span{line-height:1.5;}
